.bordo{
  border: 1px solid red;
}
.immagini{
  width: 100%;
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: blue;
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 100%;
}
.fixed{
  position: fixed;
}

header{
  display: flex;
  flex-direction: row;
}
.presentatxt{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.paroleforti{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.testo{
  font-family: helvetica;
  font-weight: bold;
  color: white;
}
.linea{
  border-bottom: 1px solid white;
}
.presentaimg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ps{
  border-top: 1px white solid;
  font-family: helvetica,arial,sans-serif;
  color: white;
}

article{
  display: flex;
  padding-top: 50px;
}
.card-container{
  display: flex;
  align-items: center;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width: 960px) {

  body{
    background-color: purple;
    background-image: url(immagini/sfondo2piccolo.png);
    background-size: cover;
  }
  nav{
    height: 30px;
  }
  .nav_L{
    width: 30px;
    padding: 5px;
  }
  .nav_R{
    color: black;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1;
  }

  header{
    width: 100%;
    padding-top: 30px;
  }
  .presentatxt{
    width: 50%;
  }
  .presentaimg{
    width: 50%;
  }
  .ps{
    font-size: 9px;
  }

  article{
    flex-direction: row;
    width: 100%;
    padding-top: 50px;
  }
  .card-container{
    flex-direction: column;
  }
  .scheda{
    width: 80%;
    margin-bottom: 30px;
  }

  footer{
    height: 30px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

  body {
    background-color: red;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

  body{
    background-color: purple;
    background-image: url(immagini/sfondo2.png);
    background-size: cover;
  }

  nav{
    height: 100px;
  }
  .nav_L{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    flex: 1;
  }
  .fix{
    width: 50px;
    position: fixed;
  }
  .nav_C{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 100%;
    flex: initial;
  }
  .nav_R{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: white;
    padding-left: 10px;
    height: 100px;
    flex: 1;
  }

  header{
    width: 1000px;
    height: 500px;
  }
  .presentatxt{
    width: 500px;
  }
  .paroleforti{
    padding-right: 100px;
  }
  .testo{
    width: 200px
  }
  .presentaimg{
    width: 500px;
  }
  .ps{
    font-size: 10px;
  }

  article{
    flex-direction: column;
    width: 1000px;
    padding-top: 50px;
  }
  .card-container{
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
  }
  .scheda{
    width: 200px;
  }
  .bio{
    padding-top: 50px;
    font-family: helvetica;
    color: white;
    width: 500px;
    text-align: left;
  }

  footer{
    height: 100px;
  }
}
