.bordo{
  border: 1px solid red;
}
.lineadivalta{
  border-top: 1px solid white;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 2000px;
  background-color: purple;
  background-image: url(immagini/ombrabianca.png);
}

nav{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  color: white;
}

header{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 1000px;
  height: 500px;
  /*background-color: #bdbdbd;*/
  border: 1px solid black;
}
.presentadx{
  flex: 1;
}
.presentasx{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.paroleforti{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.ciccio{
  font-family: helvetica;
  font-weight: bold;
  color: white;
}

article{
  display: flex;
  flex-direction: row;
  width: 1000px;
  border: 1px solid blue;
}
.scheda{
  display: flex;
  flex-direction:column;
  width: 200px;
}
.relative{
  position: relative;
  bottom: 148px;
  background-color: white;
  height: 200px;
  border-radius: 10px 10px 10px 5px;
  z-index: -1;
}
.rotondo{
  border-radius: 50px;
}
.wiew{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  bottom: 50px;
  padding-right: 5px;
}

footer{
  display: flex;
  width: 100%;
  /*height: 500px;*/
  border: 1px solid black;
}

.default{
  height: 100px;
}

.nav_L{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10px;
  padding-top: 20px;
  flex: 1;
}

.nav_C{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
  width: 1000px;
  flex: initial;
}

.nav_R{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 10px;
  padding-top: 25px;
  flex: 1;
}
